<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div class="container myTop" ng-show="exist">
			<form class="form-horizontal" ng-controller="userCtrl" name="myForm" ng-submit="submitForm(myForm.$valid)">
  				<div class="form-group has-success has-feedback">
    				<label class="control-label col-sm-2">用户名：</label>
	    			<div class="col-sm-10">
	     				 <input type="text" class="form-control" name="name" ng-model="user.name" required>
	     				 <span class="glyphicon glyphicon-ok form-control-feedback" ng-show=" myForm.name.$dirty&&myForm.name.$valid" ></span>
	      			
	   				</div>
  				</div>
  				<div class="form-group has-success has-feedback">
    				<label class="control-label col-sm-2">密码：</label>
	    			<div class="col-sm-10">
	     				 <input type="text" class="form-control" name="pwd" ng-model="user.pwd" ng-minlength="6" required>
	     				 <span class="glyphicon glyphicon-ok form-control-feedback" ng-show=" myForm.pwd.$dirty&&myForm.pwd.$valid" ></span>
	      			
	   				</div>
  				</div>
  				<div class="form-group has-success has-feedback">
    				<label class="control-label col-sm-2">重新输入密码：</label>
	    			<div class="col-sm-10">
	     				 <input type="text" class="form-control" name="repwd" ng-model="user.repwd" ng-minlength="6" required>
	     				 <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="myForm.repwd.$dirty&&user.pwd==user.repwd" ></span>	      			
	   				</div>
  				</div>
  				<div class="form-group has-success has-feedback">
    				<label class="control-label col-sm-2">邮箱：</label>
	    			<div class="col-sm-10">
	     				 <input type="text" class="form-control" name="email" ng-model="user.email" ng-pattern="/^\w+@\w+(\.\w+)+$/" >
	     				 <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="myForm.email.$dirty&&myForm.email.$valid" ></span>	      			
	   				</div>
  				</div>
  				<button type="submit" class="btn btn-lg btn-primary col-sm-offset-3 register" ng-disabled="myForm.$invalid">点击注册</button>
  				<button type="submit" class="btn btn-lg btn-primary col-sm-offset-3 " ng-click="closeUser()">关闭</button>
  			</form>
			
		</div>
		
		
		
		
		
		
	</body>
</html>
